.track-container {
  padding: 15vh 3vw; /* ↑ more vertical safety */
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.track-svg {
  transform-origin: center;
  transition: transform 0.3s ease;
  //transform: translateX(-2vw);
}

.track-svg.mirrored {
  transform: scaleY(-1);
}

.track-title {
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 10;

  text-align: right;
  color: #eaeaea;
}

.event-name {
  font-size: 18px;
  font-weight: 600;
}

.track-location {
  font-size: 13px;
  opacity: 0.75;
}
