<div class="track-container">
  <div class="track-title">
    <div class="event-name">{{ trackInfo.eventName }}, {{ eventYear }}</div>
    <div class="track-location">
      {{ trackInfo.location }}, {{ trackInfo.country }}
    </div>
  </div>
  <svg
    [class.mirrored]="isMirrored"
    class="track-svg"
    [attr.viewBox]="viewBox"
    preserveAspectRatio="xMinYMid meet"
  >
    <!-- start/finish line -->
    <line
      [attr.x1]="startLine.x1"
      [attr.y1]="startLine.y1"
      [attr.x2]="startLine.x2"
      [attr.y2]="startLine.y2"
      stroke="#cfcfcf"
      stroke-width="70"
      stroke-linecap="round"
    />

    <!-- direction marker -->
    <marker
      id="directionArrow"
      markerWidth="12"
      markerHeight="12"
      refX="6"
      refY="6"
      orient="auto"
    >
      <path d="M0,0 L12,6 L0,12 Z" fill="#bdbdbd" />
    </marker>

    <!-- outer track -->
    <polyline
      [attr.points]="trackPoints"
      fill="none"
      stroke="#bdbdbd"
      stroke-width="320"
      stroke-linecap="round"
      stroke-linejoin="round"
    />

    <!-- asphalt body -->
    <polyline
      [attr.points]="trackPoints"
      fill="none"
      stroke="#2a2a2a"
      stroke-width="230"
      stroke-linecap="round"
      stroke-linejoin="round"
    />

    <!-- inner track -->
    <polyline
      [attr.points]="trackPoints"
      fill="none"
      stroke="#1a1a1a"
      stroke-width="180"
      stroke-linecap="round"
      stroke-linejoin="round"
    />

    <!-- Arrow  -->
    <!-- <polygon
      [attr.transform]="
        'translate(' +
        arrow.cx +
        ' ' +
        arrow.cy +
        ') rotate(' +
        arrow.angle +
        ')'
      "
      points="0,-200 300,0 0,200"
      fill="#d8d8d8"
      stroke="#1a1a1a"
      stroke-width="14"
    /> -->

    <path
      [attr.transform]="
        'translate(' +
        arrow.cx +
        ' ' +
        arrow.cy +
        ') rotate(' +
        arrow.angle +
        ')'
      "
      d="
  M -240 -160 L 0 0 L -240 160
  M -80  -160 L 160 0 L -80 160
"
      stroke="#ffffff"
      stroke-width="26"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
  </svg>

  <button class="mirror-btn" (click)="toggleMirror()">
    Flip Track Direction
  </button>
</div>
