.race-controls {
  display: flex;

  align-items: center;

  justify-content: center;

  width: 100%;

  gap: 6px;

  // transform: translateY(-11px);
}

.race-controls app-button {
  flex: 1;
}

@media (max-width: 1024px) and (orientation: landscape) {
  // .race-controls {
  //   transform-origin: top left;

  //   transform: scale(0.68);

  //   width: 147%;
  // }

  .race-controls {
    width: 100%;
    gap: 2px;
    // margin-left: 1px;
  }

  .race-controls app-button {
    flex: 1 1 0;
    min-width: 0;
  }
}
