<div class="race-controls">
  <app-button
    size="xs"
    variant="secondary"
    [active]="isPreRace"
    (clicked)="showTyre()"
  >
    TYRE AGE
  </app-button>

  <app-button
    size="xs"
    variant="secondary"
    [disabled]="isPreRace"
    (clicked)="showPit()"
  >
    PITSTOP COUNT
  </app-button>

  <app-button
    size="xs"
    variant="secondary"
    [disabled]="isPreRace"
    (clicked)="showLapped()"
  >
    GAP TO LEADER
  </app-button>

  <app-button size="xs" variant="secondary" [disabled]="isPreRace">
    GAINED/LOST
  </app-button>
</div>
