<div class="track-header">
  <div class="event-name">{{ trackInfo?.eventName }}, {{ eventYear }}</div>

  <div class="track-location">
    {{ trackInfo?.location }}, {{ trackInfo?.country }}
  </div>

  <div class="race-local-time">
    <span class="time-label">TRACK TIME</span>

    <span class="time-separator"></span>

    <span class="time-value">
      {{ localRaceTime }}
    </span>
  </div>

  <div class="header-divider"></div>

  <div class="header-actions">
    <app-button
      *ngIf="!raceFinished"
      variant="secondary"
      size="fliptrack"
      (clicked)="toggleMirror()"
    >
      FLIP TRACK
    </app-button>

    <app-support-button *ngIf="!raceFinished" text="Support Me">
    </app-support-button>
  </div>
</div>
