<div class="post-race-layout">
  <!-- LEFT SIDE -->
  <div class="classification-wrapper">
    <div class="classification-header">FINAL CLASSIFICATION</div>

    <div
      class="classification-row"
      *ngFor="let row of classification.slice(0, 10)"
    >
      <!-- POSITION -->
      <div class="position">
        {{ row.position }}
      </div>

      <!-- NUMBER -->
      <div class="number">
        {{ row.driverNumber }}
      </div>

      <!-- TEAM LOGO -->
      <div class="team-icon">
        <img
          [src]="getTeamLogo(row.team)"
          [class]="getTeamLogoClass(row.team)"
          (error)="onTeamLogoError($event)"
        />
      </div>

      <!-- TEAM COLOR -->
      <div
        class="driver-color"
        [style.background]="getTeamColor(row.team)"
      ></div>

      <!-- DRIVER -->
      <div class="driver">
        {{ row.fullName }}
      </div>

      <!-- GAP -->
      <div class="gap">
        {{ row.displayGap }}
      </div>

      <!-- POINTS -->
      <div class="points">
        {{ row.points }}
      </div>
    </div>

    <div class="fastest-lap-row">
      <div class="fastest-lap-left">
        <div class="fastest-lap-icon">
          <img src="assets/leaderboard/fastest-lap.jpg" alt="Fastest Lap" />
        </div>

        <div class="fastest-lap-label">FASTEST LAP</div>
      </div>

      <div class="fastest-lap-driver-section">
        <div
          class="driver-color"
          [style.background]="getTeamColor(fastestLap.team)"
        ></div>

        <div class="fastest-lap-driver">
          {{ fastestLap.fullName }}
        </div>

        <div class="team-icon">
          <img
            [src]="getTeamLogo(fastestLap.team)"
            [class]="getTeamLogoClass(fastestLap.team)"
            (error)="onTeamLogoError($event)"
          />
        </div>

        <div class="fastest-lap-time">
          {{ fastestLap.lapTime }}
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="standings-column">
    <!-- DRIVERS -->
    <div
      class="standings-card"
      [class.expanded]="isDriversExpanded()"
      [class.collapsed]="isConstructorsExpanded()"
    >
      <div class="standings-title">DRIVERS CHAMPIONSHIP</div>
      <div
        class="standings-row"
        [hidden]="isConstructorsExpanded()"
        *ngFor="
          let row of isDriversExpanded()
            ? driverStandings.slice(0, 10)
            : driverStandings.slice(0, 5)
        "
      >
        <div class="standings-pos">
          {{ row.position }}
        </div>

        <div class="team-icon standings-team-icon">
          <img
            [src]="getTeamLogo(row.team)"
            [class]="getTeamLogoClass(row.team)"
          />
        </div>

        <div
          class="driver-color standings-color"
          [style.background]="getTeamColor(row.team)"
        ></div>

        <div class="standings-name">
          {{ row.driver }}
        </div>

        <div class="standings-points">
          {{ row.points }}
        </div>
      </div>

      <!-- SHOW MORE / LESS -->
      <div
        class="standings-expand"
        [hidden]="isConstructorsExpanded()"
        (click)="toggleStandings('drivers')"
      >
        <span class="expand-chevron" [class.expanded]="isDriversExpanded()">
          {{ isDriversExpanded() ? "⌃" : "⌄" }}
        </span>

        <span>
          {{ isDriversExpanded() ? "SHOW LESS" : "SHOW MORE" }}
        </span>
      </div>
    </div>

    <!-- CONSTRUCTORS -->
    <div
      class="standings-card constructors-card"
      [class.expanded]="isConstructorsExpanded()"
      [class.collapsed]="isDriversExpanded()"
    >
      <div class="standings-title">CONSTRUCTORS CHAMPIONSHIP</div>
      <div
        class="standings-row"
        [hidden]="isDriversExpanded()"
        *ngFor="
          let row of isConstructorsExpanded()
            ? constructorStandings
            : constructorStandings.slice(0, 5)
        "
      >
        <div class="standings-pos">
          {{ row.position }}
        </div>

        <div class="team-icon standings-team-icon">
          <img
            [src]="getTeamLogo(row.team)"
            [class]="getTeamLogoClass(row.team)"
          />
        </div>

        <div
          class="driver-color standings-color"
          [style.background]="getTeamColor(row.team)"
        ></div>

        <div class="standings-name">
          {{ row.teamName }}
        </div>

        <div class="standings-points">
          {{ row.points }}
        </div>
      </div>

      <!-- SHOW MORE / LESS -->
      <div
        class="standings-expand"
        [hidden]="isDriversExpanded()"
        (click)="toggleStandings('constructors')"
      >
        <span
          class="expand-chevron"
          [class.expanded]="isConstructorsExpanded()"
        >
          {{ isConstructorsExpanded() ? "⌃" : "⌄" }}
        </span>

        <span>
          {{ isConstructorsExpanded() ? "SHOW LESS" : "SHOW MORE" }}
        </span>
      </div>
    </div>
  </div>

  <app-support-button
    *ngIf="raceFinished"
    class="support-button"
    text="Support Me"
  >
  </app-support-button>
</div>
