.recommendations {
  margin-top: 28px;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  gap: 0;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;

  // padding: 0 10px;

  scroll-snap-align: center;

  display: flex;

  justify-content: stretch;

  align-items: stretch;
}

.dots {
  display: flex;

  justify-content: center;

  gap: 10px;

  margin-top: 24px;
}

.dot {
  width: 10px;

  height: 10px;

  border-radius: 50%;

  border: none;

  background: #555;

  transition: 0.25s;

  cursor: pointer;
}

.dot.active {
  width: 28px;

  border-radius: 999px;

  background: #ff2d2d;
}
