@if (visible) {
  <div class="dialog-backdrop">
    <div class="dialog">
      <div class="dialog-title">
        {{ title }}
      </div>

      <div class="dialog-message">
        {{ message }}
      </div>

      <div class="dialog-actions">
        <app-button
          class="confirmation-button"
          variant="secondary"
          (clicked)="cancelled.emit()"
        >
          {{ cancelText }}
        </app-button>

        <app-button class="confirmation-button" (clicked)="confirmed.emit()">
          {{ confirmText }}
        </app-button>
      </div>
    </div>
  </div>
}
