@if (isOpen) {
  <div class="overlay" (click)="close()">
    <div class="dialog" (click)="stopPropagation($event)">
      <button class="close-button" (click)="close()" aria-label="Close">
        ✕
      </button>

      <div class="dialog-header">
        <img
          src="assets/icons/logo-transperant.png"
          alt="PitWall"
          class="pitwall-logo"
        />

        <h2>PITWALL</h2>
      </div>

      <p class="subtitle">
        PitWall is intended to be viewed as a fullscreen app. Install it to
        experience race replays exactly as designed.
      </p>

      <div class="dialog-divider"></div>

      @if (supportsNativeInstall()) {
        @if (canInstall()) {
          <button class="primary-button" (click)="install()">
            Install Now
          </button>

          <button class="later-link" (click)="continueWithoutInstalling()">
            <span>Skip installation and continue to Explore Races.</span>
          </button>
        } @else {
          @switch (browser) {
            @case (BrowserType.ChromeDesktop) {
              <div class="instructions">
                <div class="instruction-heading">
                  <img
                    src="assets/icons/chrome.svg"
                    alt="Chrome"
                    class="browser-icon"
                  />

                  <h3>Install on Chrome</h3>
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/install-page-as-app-chrome.svg"
                    alt="Chrome"
                    class="instruction-icon"
                  />
                  <span
                    >Look for the <strong>Install</strong> icon in the address
                    bar.</span
                  >
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/three-dots-vertical.svg"
                    alt="Chrome"
                    class="instruction-icon"
                  />
                  <span
                    >If you don't see it, click the
                    <strong>Menu &#8594; Save & Share</strong>
                  </span>
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/install-page-as-app-chrome.svg"
                    alt="Chrome"
                    class="instruction-icon"
                  />
                  <span
                    >Choose <strong>Install Page as App</strong> (or a similarly
                    named option).</span
                  >
                </div>
              </div>

              <button class="later-link" (click)="continueWithoutInstalling()">
                <span>Skip installation and continue to Explore Races.</span>
              </button>
            }

            @case (BrowserType.Edge) {
              <div class="instructions">
                <div class="instruction-heading">
                  <img
                    src="assets/icons/edge.svg"
                    alt="Microsoft Edge"
                    class="browser-icon"
                  />

                  <h3>Install on Microsoft Edge</h3>
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/apps-add-in-edge.svg"
                    alt="Edge"
                    class="instruction-icon"
                  />
                  <span
                    >Look for the <strong>App Install</strong> icon in the
                    address bar.</span
                  >
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/three-dots-edge.svg"
                    alt="Edge"
                    class="instruction-icon"
                  />
                  <span
                    >If you don't see it, click the
                    <strong>Menu &#8594; More Tools</strong> .</span
                  >
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/apps-edge.svg"
                    alt="Edge"
                    class="instruction-icon"
                  />
                  <span
                    >Goto <strong>Apps &#8594; Install PitWall</strong> (or a
                    similarly named option).</span
                  >
                </div>
              </div>

              <button class="later-link" (click)="continueWithoutInstalling()">
                <span>Skip installation and continue to Explore Races.</span>
              </button>
            }

            @case (BrowserType.ChromeAndroid) {
              <div class="instructions">
                <div class="instruction-heading">
                  <img
                    src="assets/icons/android.svg"
                    alt="Chrome"
                    class="browser-icon"
                  />

                  <h3>Install on Android</h3>
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/install-page-as-app-chrome.svg"
                    alt="Chrome"
                    class="instruction-icon"
                  />
                  <span>
                    Look for the <strong>Install</strong> icon in the address
                    bar.
                  </span>
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/three-dots-vertical.svg"
                    alt="Chrome"
                    class="instruction-icon"
                  />
                  <span>
                    If you don't see it, tap the <strong>Menu</strong> .
                  </span>
                </div>

                <div class="instruction-step">
                  <img
                    src="assets/icons/install-page-as-app-chrome.svg"
                    alt="Chrome"
                    class="instruction-icon"
                  />
                  <span>
                    Select <strong>Install app</strong> or
                    <strong>Add to Home screen</strong>.
                  </span>
                </div>
              </div>

              <button class="later-link" (click)="continueWithoutInstalling()">
                <span>Skip installation and continue to Explore Races.</span>
              </button>
            }
          }
        }
      } @else {
        @switch (browser) {
          @case (BrowserType.SafariMac) {
            <div class="instructions">
              <div class="instruction-heading">
                <img
                  src="assets/icons/mac-os.svg"
                  alt="Safari"
                  class="browser-icon"
                />

                <h3>Install on macOS</h3>
              </div>

              <div class="instruction-step">
                <img
                  src="assets/icons/safari.svg"
                  alt="Safari"
                  class="instruction-icon"
                />

                <span>Open in Safari</span>
              </div>

              <div class="instruction-step">
                <img
                  src="assets/icons/share-ios.svg"
                  alt="Share"
                  class="instruction-icon"
                />

                <span>Tap the <strong>Share</strong> button</span>
              </div>

              <div class="instruction-step">
                <img
                  src="assets/icons/add-to-dock.svg"
                  alt="Add to Dock"
                  class="instruction-icon"
                />

                <span>Choose <strong>Add to Dock</strong></span>
              </div>
            </div>

            <button class="later-link" (click)="continueWithoutInstalling()">
              <span>Skip installation and continue to Explore Races.</span>
            </button>
          }

          @case (BrowserType.SafariIOS) {
            <div class="instructions">
              <div class="instruction-heading">
                <img
                  src="assets/icons/ios.svg"
                  alt="Safari"
                  class="browser-icon"
                />

                <h3>Install on iPhone & iPad</h3>
              </div>

              <div class="instruction-step">
                <img
                  src="assets/icons/safari.svg"
                  alt="Safari"
                  class="instruction-icon"
                />

                <span>Open in Safari</span>
              </div>

              <div class="instruction-step">
                <img
                  src="assets/icons/share-ios.svg"
                  alt="Share"
                  class="instruction-icon"
                />

                <span>Tap the <strong>Share</strong> button</span>
              </div>

              <div class="instruction-step">
                <img
                  src="assets/icons/add-to-home-screen.svg"
                  alt="Add to Home Screen"
                  class="instruction-icon"
                />

                <span>Tap <strong>Add to Home Screen</strong></span>
              </div>
            </div>

            <button class="later-link" (click)="continueWithoutInstalling()">
              <span>Skip installation and continue to Explore Races.</span>
            </button>
          }

          @case (BrowserType.Firefox) {
            <div class="instructions">
              <div class="instruction-heading">
                <img
                  src="assets/icons/firefox.svg"
                  alt="Safari"
                  class="browser-icon"
                />

                <h3>Firefox</h3>
              </div>

              <p>
                Firefox currently doesn't support installing PitWall as a
                Progressive Web App.
              </p>

              <p>
                For the best experience, use Chrome, Microsoft Edge or Safari.
              </p>
            </div>

            <button class="later-link" (click)="continueWithoutInstalling()">
              <span>Skip installation and continue to Explore Races.</span>
            </button>
          }

          @default {
            <div class="instructions">
              <p>
                Installation instructions aren't available for your browser.
              </p>
            </div>

            <button class="later-link" (click)="continueWithoutInstalling()">
              <span>Skip installation and continue to Explore Races.</span>
            </button>
          }
        }
      }
    </div>
  </div>
}
