<div class="comparison-page">
  <!-- HEADER -->
  <section class="comparison-header">
    <div class="header-left">
      <span class="f1-logo">F1</span>
      <span class="title">Qualifying Comparison</span>
    </div>

    <div class="header-right">
      @if (comparison) {
        2021 Styrian Grand Prix
      }
    </div>
  </section>

  <!-- TELEMETRY PANEL -->
  <section class="telemetry-panel">
    @if (comparison) {
      <app-telemetry-panel
        [driverA]="comparison.driverA"
        [driverB]="comparison.driverB"
      />
    }
  </section>

  <!-- BOTTOM SECTION -->
  <section class="comparison-footer">
    <div class="driver-card">
      @if (comparison) {
        <div>
          <div>
            {{ comparison.driverA.driver }}
          </div>

          <div>
            {{ comparison.driverA.teamName }}
          </div>

          <div>
            {{ comparison.driverA.lapTime }}
          </div>

          <div>S1 {{ comparison.driverA.sector1 }}</div>

          <div>S2 {{ comparison.driverA.sector2 }}</div>

          <div>S3 {{ comparison.driverA.sector3 }}</div>
        </div>
      }
    </div>

    <div class="track-map-card">
      @if (comparison) {
        <app-comparison-track-map [trackMap]="comparison.trackMap" />
      }
    </div>

    <div class="driver-card">
      @if (comparison?.driverB) {
        <div>
          <div>
            {{ comparison?.driverB?.driver }}
          </div>

          <div>
            {{ comparison?.driverB?.teamName }}
          </div>

          <div>
            {{ comparison?.driverB?.lapTime }}
          </div>

          <div>S1 {{ comparison?.driverB?.sector1 }}</div>

          <div>S2 {{ comparison?.driverB?.sector2 }}</div>

          <div>S3 {{ comparison?.driverB?.sector3 }}</div>
        </div>
      }
    </div>
  </section>

  <!-- CONTROLS -->
  <section class="controls-panel">
    <button (click)="stepBackward()">◀</button>

    <button (click)="togglePlay()">Play / Pause</button>

    <button (click)="stepForward()">▶</button>
  </section>
</div>
