.simulation-layout {
  display: grid;

  //1st value: leaderboard, 2nd: weather, 3rd: track-map
  grid-template-columns: 235px 210px 1fr;
  height: 100vh;
}

/* Leaderboard */
app-leaderboard {
  height: 100%;
}

/* Weather panel */
app-weather {
  height: 100%;
  //border-right: 1px solid #2a2a2a;
}

/* Track */
app-track-map {
  height: 100%;
  overflow: hidden;
}
