.simulation-layout {
  display: grid;

  //1st value: leaderboard, 2nd: weather, 3rd: track-map
  grid-template-columns: 235px 210px 1fr;
  height: 100vh;
}

/* Leaderboard */
app-leaderboard {
  height: 100%;
}

/* Sidebar column */
.info-sidebar {
  width: 180px;
  padding: 12px 14px;

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 8px;
  box-sizing: border-box;
}

/* Weather panel */
app-weather {
  margin-top: 0%;
  flex: 0 0 auto;
  max-height: 180px;
  margin-bottom: 40px;
  //border-right: 1px solid #2a2a2a;
}

.track-column {
  min-width: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr;

  height: 100%;
}

.hud-left {
  display: flex;
  align-items: flex-start;
}

.hud-right {
  display: flex;
  justify-content: flex-end;

  text-align: right;
}

.track-hud {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;

  padding: 18px 28px 0 28px;

  z-index: 20;
}

.track-stage {
  position: relative;

  flex: 1;

  min-width: 0;
  min-height: 0;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px;
  box-sizing: border-box;
}

app-race-clock {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

/* Track */
app-track-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
