<div class="simulation-layout">
  <app-leaderboard></app-leaderboard>

  <div class="info-sidebar">
    <app-weather></app-weather>
    <div class="telemetry-panels">
      <p>Driver Telemetry</p>
      <app-driver-telemetry
        [selectedDriver]="selectedDrivers[0]"
        [availableDrivers]="getAvailableDriversForSlot(0)"
        [teamColor]="getDriverColor(selectedDrivers[0])"
        [year]="currentYear"
        [round]="currentRound"
        (driverSelected)="onDriverSelected(0, $event)"
        (clearDriver)="onDriverCleared(0)"
      >
      </app-driver-telemetry>

      <app-driver-telemetry
        [selectedDriver]="selectedDrivers[1]"
        [availableDrivers]="getAvailableDriversForSlot(1)"
        [teamColor]="getDriverColor(selectedDrivers[1])"
        [year]="currentYear"
        [round]="currentRound"
        (driverSelected)="onDriverSelected(1, $event)"
        (clearDriver)="onDriverCleared(1)"
      >
      </app-driver-telemetry>
    </div>
  </div>

  <div class="track-column">
    <!-- TOP HUD -->
    <div class="track-hud">
      <div class="hud-left">
        <app-race-clock></app-race-clock>
      </div>

      <div class="hud-right">
        <app-track-map-header></app-track-map-header>
      </div>
    </div>

    <!-- TRACK CANVAS -->
    <div class="track-stage">
      <app-track-map [highlightedDrivers]="selectedDrivers"></app-track-map>
    </div>
  </div>
</div>
