<div class="chart-container">
  <div class="chart-toolbar">
    <label class="toolbar-option">
      <input
        type="checkbox"
        [checked]="hideOutliers()"
        (change)="toggleHideOutliers()"
      />

      <span>Hide Outlier Laps ( > 107%)</span>
    </label>

    <label class="toolbar-option">
      <input
        type="checkbox"
        [checked]="smoothChart()"
        (change)="toggleSmoothChart()"
      />

      <span>Smooth Lap Chart</span>
    </label>

    <label class="toolbar-option">
      <input
        type="checkbox"
        [checked]="showTrackStatus()"
        (change)="toggleTrackStatus()"
      />

      <span>Show Track Status</span>
    </label>
  </div>

  <div
    echarts
    class="lap-chart"
    [options]="chartOptions"
    (chartInit)="onChartInit($event)"
  ></div>
</div>
