:host {
  display: block;
  transform: scale(0.92);
  transform-origin: top left;

  margin-top: 14px;
  margin-left: 8px;
}

.f1-logo-bw {
  width: 110px;
  height: auto;
  color: #dfdfdf; /* white on dark background */
  padding-left: 24%;
  padding-top: 8%;
  padding-bottom: 1%;
}

.leaderboard-panel {
  //width: 261px;

  width: 210px;
  background: #0f0f14; /* slightly lighter than app bg */
  border: 1px solid #2a2a32; /* outer border */
  box-shadow: inset 0 0 0 1px #000,
    /* inner hard border */ 0 6px 18px rgba(0, 0, 0, 0.6); /* depth */

  color: #dfdfdf;
  font-family: "KHInterference", system-ui, sans-serif;

  position: relative;
  overflow: visible;
}

hr {
  border: none;
  height: 2px;
  background-color: #3a3a3e;
}

.session-time {
  font-weight: 500;
  padding-left: 28%;
  padding-bottom: 7%;
}

.leaderboard-body {
  background-color: #3a3a3e;
  width: 100%;
  box-sizing: border-box;
}

.driver-row {
  position: relative; /* required for absolute-positioned P box */
  display: grid;

  grid-template-columns:
    22px /* ① POSITION (1, 2, 3...) */
    26px /* ② TEAM LOGO */
    64px /* ③ DRIVER CODE (LEC, HAM, etc.) */
    78px /* ④ LAP TIME (1:32.245) 78 */
    1fr; /* ⑤ FLEX / SPARE (tyre OR empty buffer) */

  width: 100%;
  align-items: center;
  height: 32px;
}

.driver-row:last-child {
  border-bottom: none;
}

/* POSITION */
.position {
  width: 22px;
  height: 100%; /* fills row height */

  display: flex;
  align-items: center;
  justify-content: center;

  background: #e10600;
  color: #dfdfdf;

  font-size: 13px; /* ↑ clearer */
  font-weight: 500;

  border-radius: 0; /* F1 = sharp edge */
}

.driver-row:nth-child(n + 2) .position {
  background: #000000;
  color: #dfdfdf;
}

/* TEAM LOGO */
.team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-icon img {
  width: 18px;
  height: 18px;
  // object-fit: contain;
}

.team-icon img.redbull {
  transform: scale(1.5);
  transform-origin: center;
  image-rendering: auto;
}

.team-icon img.renault {
  filter: brightness(0) invert(1);
}

.team-icon img.mclaren {
  padding-top: 2px;
  transform: scale(1.3);
}

.team-icon img.forceindia {
  transform: scale(1.4);
}

.team-icon img.tororosso {
  width: 20px;
  height: 10px;
  transform: scale(1.2);
  transform-origin: center;
  image-rendering: auto;
}

.team-icon img.racingpoint {
  filter: brightness(0) invert(1);
  width: 25px;
  height: 19px;
}

.team-icon img.alphatauri {
  filter: brightness(0) invert(1);
  transform: scale(1.8);
}

.team-icon img.alpine {
  filter: brightness(0) invert(1);
  transform: scale(1.8);
}

.team-icon img.astonmartin {
  padding-top: 3px;
  transform: scale(1.7);
}

.team-icon img.racingbulls {
  filter: brightness(0) invert(1);
  transform: scale(1.4);
}

.team-icon img.kicksauber {
  transform: scale(1.3);
}

.team-icon img.cadillac {
  width: 23px;
  height: 9px;
  filter: brightness(0) invert(1);
  transform: scale(1.1);
}

.team-icon img.audi {
  filter: brightness(0) invert(1);
  transform: scale(1.6);
}

.driver-code {
  padding-left: 6px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

/* LAP TIME */
.driver-stats {
  font-size: 13px; /* ↑ readability */
  opacity: 1;
  font-weight: 500;

  text-align: right;
  justify-self: end;
  white-space: nowrap;
  overflow: hidden;

  font-variant-numeric: tabular-nums;
}

/* TYRE */
.tyre {
  margin-left: 13px;
  //margin-right: 9px;

  font-size: 13px;
  font-weight: 400;
  line-height: 1;

  background: none;
}

/* TYRE COLORS */
.tyre.soft {
  color: #ff2b2b;
}
.tyre.medium {
  color: #ffd400;
}
.tyre.hard {
  color: #dfdfdf;
}
.tyre.intermediate {
  color: #3cff00;
}
.tyre.wet {
  color: #0066ff;
}

/* LEADERBOARD PANEL */
.leaderboard {
  width: 100%;
  box-sizing: border-box;

  background: linear-gradient(180deg, #1c1c1c 0%, #0e0e0e 100%);

  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 4px;

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04),
    inset 0 -1px 0 rgba(0, 0, 0, 0.6), 0 10px 30px rgba(0, 0, 0, 0.8);
}

.pit-indicator {
  position: absolute;
  right: calc(-18px - 1px);
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  background: #dfdfdf;
  color: #000000;

  font-size: 12px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  box-shadow: 0 0 0 1px #000;

  //animation: pitPulse 1.2s infinite;
}

@keyframes pitPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
