<div class="page">
  <!-- HEADER -->

  <div class="header">
    <!-- LEFT COLUMN -->

    <div class="header-left">
      <div class="back-button" (click)="goBack()">&lt; BACK</div>

      <div class="selected-event">
        <div class="header-accent"></div>
        {{ selectedYear }}
        <span class="dot">•</span>
        {{ selectedRace }}
      </div>

      <!-- MODE SELECTOR -->

      <div class="mode-card">
        <div class="mode-tabs">
          <button
            class="mode-button"
            [class.active]="mode === 'ultimate'"
            (click)="toggleMode('ultimate')"
          >
            Ultimate Pace
          </button>

          <button
            class="mode-button"
            [class.active]="mode === 'race'"
            (click)="toggleMode('race')"
          >
            Race Management
          </button>

          <div class="slider" [class.right]="mode === 'race'"></div>
        </div>
      </div>
    </div>

    <!-- RIGHT COLUMN -->

    <div class="title-block">
      <div class="title">Performance Lab</div>

      <div class="subtitle">
        Explore telemetry, driving technique and race strategy.
      </div>
    </div>
  </div>

  <!-- CONTENT -->

  <div class="content">
    <div class="content-card">
      @if (mode === "ultimate") {
        <div class="mode-title">Driving Style Analysis</div>

        <div class="mode-description">
          Compare qualifying laps with synchronized speed, braking, throttle,
          RPM and racing line.
        </div>
      }

      @if (mode === "race") {
        <div class="mode-title">Race Management Analysis</div>

        <div class="mode-description">
          Find the laps that best represent a driver's true race pace. PitWall's
          race management model evaluates tyre wear, traffic, wake effects,
          clean air, DRS usage and stint progression to identify the most
          comparable race laps.
        </div>
      }
    </div>

    @if (mode === "ultimate") {
      <div class="selection-card">
        <app-driver-selection></app-driver-selection>
      </div>
    }

    @if (mode === "race") {
      <div class="selection-card">
        <app-race-management></app-race-management>
      </div>
    }
  </div>
</div>
