<svg
  class="track-svg"
  preserveAspectRatio="xMidYMid meet"
  [attr.viewBox]="viewBox"
>
  <!-- Black outline -->
  <polyline class="track-outline" [attr.points]="sector1Polyline" />
  <polyline class="track-outline" [attr.points]="sector2Polyline" />
  <polyline class="track-outline" [attr.points]="sector3Polyline" />

  <!-- Colored sectors -->
  <polyline class="track sector1" [attr.points]="sector1Polyline" />
  <polyline class="track sector2" [attr.points]="sector2Polyline" />
  <polyline class="track sector3" [attr.points]="sector3Polyline" />

  <line
    class="start-finish"
    [attr.x1]="startFinishLine.x1"
    [attr.y1]="startFinishLine.y1"
    [attr.x2]="startFinishLine.x2"
    [attr.y2]="startFinishLine.y2"
  />

  @let positions = displayPositions;

  @if (positions.driverA; as driverA) {
    <circle
      class="driver-a-dot"
      [attr.cx]="driverA.x"
      [attr.cy]="driverA.y"
      r="220"
    />
  }

  @if (positions.driverB; as driverB) {
    <circle
      class="driver-b-dot"
      [attr.cx]="driverB.x"
      [attr.cy]="driverB.y"
      r="220"
    />
  }
</svg>
