<svg
  class="track-svg"
  preserveAspectRatio="xMidYMid meet"
  [attr.viewBox]="viewBox"
>
  <!-- Black outline -->
  <polyline class="track-outline" [attr.points]="sector1Polyline" />
  <polyline class="track-outline" [attr.points]="sector2Polyline" />
  <polyline class="track-outline" [attr.points]="sector3Polyline" />

  <!-- Colored sectors -->
  <polyline class="track sector1" [attr.points]="sector1Polyline" />
  <polyline class="track sector2" [attr.points]="sector2Polyline" />
  <polyline class="track sector3" [attr.points]="sector3Polyline" />

  <path
    class="track-dominance"
    [attr.d]="driverADominancePath"
    [attr.stroke]="driverATheme.color"
  />

  <path
    class="track-dominance"
    [attr.d]="driverBDominancePath"
    [attr.stroke]="driverBTheme?.color"
  />

  <line
    class="start-finish"
    [attr.x1]="startFinishLine.x1"
    [attr.y1]="startFinishLine.y1"
    [attr.x2]="startFinishLine.x2"
    [attr.y2]="startFinishLine.y2"
  />

  @let positions = displayPositions;

  @if (positions.driverA; as driverA) {
    <circle
      class="driver-dot"
      [attr.cx]="driverA.x"
      [attr.cy]="driverA.y"
      [attr.fill]="driverATheme.color"
      stroke="white"
      stroke-width="20"
      r="220"
    />
  }

  @if (positions.driverB; as driverB) {
    <circle
      class="driver-dot"
      [attr.cx]="driverB.x"
      [attr.cy]="driverB.y"
      [attr.fill]="driverBTheme?.color"
      stroke="black"
      stroke-width="20"
      r="220"
    />
  }

  @for (corner of cornerLabels; track corner.number) {
    <g class="corner-marker">
      <circle
        class="corner-circle"
        [attr.cx]="corner.x"
        [attr.cy]="corner.y"
        r="320"
      />

      <text class="corner-number" [attr.x]="corner.x" [attr.y]="corner.y">
        {{ corner.number }}
      </text>
    </g>
  }
</svg>
