<div
  class="driver-row"
  [style.border]="
    selected
      ? '2px solid ' + normalizeColor(driver.teamColor)
      : '2px solid transparent'
  "
  (click)="selectDriver()"
>
  <!-- DRIVER NAME -->

  <div
    class="driver-info"
    [style.background]="selected ? normalizeColor(driver.teamColor) : '#1f1f1f'"
    [style.color]="
      selected ? getTextColor(normalizeColor(driver.teamColor)) : '#F3F3F3'
    "
  >
    <div
      class="team-strip"
      [style.background]="normalizeColor(driver.teamColor)"
    ></div>

    <div class="driver-name">
      {{ driver.driverCode }}
    </div>

    <div class="team-icon">
      <img
        [src]="getTeamLogo(driver.team)"
        [class]="getTeamLogoClass(driver.team)"
        [class.selected]="selected"
        (error)="onTeamLogoError($event)"
      />
    </div>
  </div>

  <!-- STINTS -->

  <div class="strategy">
    @for (stint of driver.stints; track stint.stint; let last = $last) {
      <div
        class="stint"
        [class.soft]="tyreClass(stint.compound) === 'soft'"
        [class.medium]="tyreClass(stint.compound) === 'medium'"
        [class.hard]="tyreClass(stint.compound) === 'hard'"
        [class.intermediate]="tyreClass(stint.compound) === 'intermediate'"
        [class.wet]="tyreClass(stint.compound) === 'wet'"
        [class.used]="!stint.freshTyre"
        [style.width.%]="stintWidth(stint.lapCount)"
      >
        @if (!last) {
          <div class="pit-marker">
            {{ stint.endLap }}
          </div>
        }
      </div>
    }
  </div>

  <!-- TOTAL LAPS -->

  <div class="laps">
    {{ driver.lapsCompleted }}
  </div>
</div>
