<div class="card">
  <div class="header">
    <div class="driver">
      {{ driver.driverName }}
    </div>

    <div class="team-icon">
      <img
        [src]="getTeamLogo(driver.teamName)"
        [class]="getTeamLogoClass(driver.teamName)"
        (error)="onTeamLogoError($event)"
      />
    </div>
  </div>

  <div class="team-strip" [style.background]="teamColour"></div>

  <div class="lap-row">
    <div class="lap-left">
      <div class="lap-time">
        {{ lapTimer }}
      </div>

      @if (gap !== null) {
        <div class="gap">
          {{ formattedGap }}
        </div>
      }
    </div>

    <div class="tyre-info">
      <span class="tyre-label">TYRE</span>

      <span class="compound" [ngClass]="compoundClass">
        {{ compoundShort }}
      </span>

      <span class="separator">•</span>

      <span class="fresh">
        {{ freshTyreText }}
      </span>

      <span class="separator">•</span>

      <span class="age"> AGE {{ driver.tyreAge }} </span>
    </div>
  </div>

  <div class="sectors">
    <div class="sector s1">
      <div class="sector-label">SECTOR 1</div>

      <div class="sector-time" [style.color]="sector1.color">
        {{ sector1Display }}
      </div>
    </div>

    <div class="sector s2">
      <div class="sector-label">SECTOR 2</div>

      <div class="sector-time" [style.color]="sector2.color">
        {{ sector2Display }}
      </div>
    </div>

    <div class="sector s3">
      <div class="sector-label">SECTOR 3</div>

      <div class="sector-time" [style.color]="sector3.color">
        {{ sector3Display }}
      </div>
    </div>
  </div>
</div>
