<div class="card">
  <div class="header">
    <div class="driver">
      {{ driver.driver }}
    </div>

    <div class="team-icon">
      <img
        [src]="getTeamLogo(driver.teamName)"
        [class]="getTeamLogoClass(driver.teamName)"
        (error)="onTeamLogoError($event)"
      />
    </div>
  </div>

  <div class="team-strip" [style.background]="teamColour"></div>

  <div class="lap-row">
    <div class="lap-time">
      {{ lapTimer }}
    </div>

    @if (gap !== null) {
      <div class="gap">
        {{ formattedGap }}
      </div>
    }
  </div>

  <div class="sectors">
    <div class="sector">
      <div class="sector-label">S1</div>

      <div class="sector-time">
        {{ showSector1 ? formatSector(driver.sector1) : "--.---" }}
      </div>
    </div>

    <div class="sector">
      <div class="sector-label">S2</div>

      <div class="sector-time">
        {{ showSector2 ? formatSector(driver.sector2) : "--.---" }}
      </div>
    </div>

    <div class="sector">
      <div class="sector-label">S3</div>

      <div class="sector-time">
        {{ showSector3 ? formatSector(driver.sector3) : "--.---" }}
      </div>
    </div>
  </div>
</div>
