:host {
  display: block;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;

  background: #111111;

  display: flex;
  flex-direction: column;

  padding: 10px 14px;

  box-sizing: border-box;

  font-family: "Formula1";

  color: #f3f3f3;
  border-radius: 3%;
  border: 2px solid rgba(255, 255, 255, 0.141);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.driver-info {
  display: flex;
  align-items: baseline;
  gap: 12px;

  min-width: 0;
}

.driver {
  font-size: 28px;
  line-height: 1;
}

.race-info {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;

  color: #b5b5b5;

  letter-spacing: 0.4px;
}

.position {
  color: #ffffff;

  font-weight: 600;
}

.lap {
  color: #b5b5b5;
}

.dot {
  color: #666;
}

// .team-logo {
//   height: 34px;

//   width: auto;

//   object-fit: contain;
// }

.team-icon img {
  width: 32px;

  height: 32px;

  //   object-fit: contain;
}

/* TEAM LOGO OVERRIDES */

.team-icon img.redbull {
  transform: translateX(-34px) scale(3);

  transform-origin: center;

  image-rendering: auto;
}

.team-icon img.alfaromeo {
  transform: scale(1.15);
}

.team-icon img.renault {
  filter: brightness(0) invert(1);
  transform: translateX(-1px) scale(1.05);
}

.team-icon img.mclaren {
  padding-top: 2px;

  transform: translateX(-10px) scale(1.5);
}

.team-icon img.ferrari {
  transform: translateX(-8px) scale(1.25);
}

.team-icon img.mercedes {
  transform: translateX(-8px) scale(1.15);
}

.team-icon img.forceindia {
  transform: translateX(-8px) scale(1.5);
}

.team-icon img.haas {
  transform: translateX(-8px) scale(1.25);
}

.team-icon img.tororosso {
  width: 70px;

  height: 35px;

  transform: translateX(-4px);

  transform-origin: center;

  image-rendering: auto;
}

.team-icon img.racingpoint {
  filter: brightness(0) invert(1);

  transform: translateX(-1px) scale(1.15);
}

.team-icon img.alphatauri {
  filter: brightness(0) invert(1);

  transform: translateX(-15px) scale(2.5);
}

.team-icon img.alpine {
  filter: brightness(0) invert(1);

  transform: translateX(-10px) scale(2.25);
}

.team-icon img.astonmartin {
  padding-top: 3px;

  transform: translateX(-35px) translateY(3px) scale(3.5);
}

.team-icon img.racingbulls {
  filter: brightness(0) invert(1);

  transform: translateX(-8px) scale(1.4);
}

.team-icon img.kicksauber {
  transform: translateX(-6px) scale(1.4);
}

.team-icon img.cadillac {
  width: 23px;

  height: 9px;

  filter: brightness(0) invert(1);

  transform: translateX(-22px) scale(3);
}

.team-icon img.audi {
  filter: brightness(0) invert(1);

  transform: translateX(-22px) scale(2.25);
}

.team-icon img.plcholder {
  filter: brightness(0) invert(1);
}

.team-strip {
  margin-top: 8px;

  height: 5px;

  border-radius: 999px;

  width: 100%;
}

.lap-row {
  margin-top: 12px;

  display: flex;

  justify-content: space-between;

  align-items: flex-end;
}

.lap-time {
  display: flex;

  align-items: baseline;

  gap: 10px;

  font-size: 32px;

  line-height: 1;
}

.gap {
  font-size: 16px;

  color: #cfcfcf;

  opacity: 0.9;
}

.lap-left {
  display: grid;
  grid-template-columns: 160px 60px;
  align-items: end;
  column-gap: 12px;
}

.lap-time {
  font-size: 32px;
  line-height: 1;
}

.gap {
  font-size: 16px;
  color: #cfcfcf;
  opacity: 0.9;
}

.tyre-info {
  display: flex;

  align-items: baseline;

  gap: 6px;

  font-size: 11px;

  text-transform: uppercase;
}

.tyre-label {
  color: #8f8f8f;

  font-size: 10px;

  letter-spacing: 0.8px;
}

.compound {
  font-size: 18px;

  line-height: 1;
}

.separator {
  color: #777;
}

.fresh {
  color: #00d25a;

  font-size: 12px;
}

.age {
  color: #c6c6c6;

  font-size: 12px;
}

/* TYRE COMPOUNDS */

.compound.soft {
  color: #ff2b2b;
}

.compound.medium {
  color: #ffd400;
}

.compound.hard {
  color: #dfdfdf;
}

.compound.intermediate {
  color: #3cff00;
}

.compound.wet {
  color: #0066ff;
}

.sectors {
  margin-top: auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 10px;
}

.sector {
  text-align: center;
}

.sector-label {
  font-size: 11px;

  margin-bottom: 5px;
}

.sector.s1 .sector-label {
  color: #ff2d2d;
}

.sector.s2 .sector-label {
  color: #29a9ff;
}

.sector.s3 .sector-label {
  color: #ffd400;
}

.sector-time {
  font-size: 13px;

  color: white;
}
